# Ignore everything
*

# But not these files...
!.gitignore
!config.m4
!Makefile
!mk.sh
!README.md
!test.php

!src/doc.c
!src/doc.h
!src/generator.py
!src/keywords.txt
!src/Makefile
!src/parser.y
!src/scanner.l
