/autom4te.cache/*
/build/*
/include/*
/modules/*
/src/.libs/*

.libs/*
.vscode/*

/Makefile
Makefile.fragments
Makefile.global
Makefile.objects

acinclude.m4
aclocal.m4
config.guess
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
dql.la
libtool
ltmain.sh
missing
mkinstalldirs


